
:root {
    --default:#FB7299;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
   
}

ul li {
    list-style: none;
}

.banxin {
    width: 1623px;
    margin: 0 auto;
}


