.main_top {

    width: 100%;
    height: 74px;
    margin: 30px 0;
    display: flex;
    align-items: center;
}



.main_top .left {
    display: flex;
    align-items: center;
    width: 210px;
    height: 74px;
}

.main_top .left .left_circle {
    flex: 1;
    text-align: center;
    color: #18191c;
    font-size: 14px;
    cursor: pointer;
}

.main_top .left .left_circle img {
    width: 46px;
    height: 46px;
    border-radius: 100%;
}

.middle {
    width: 100%;
    height: 74px;
    margin-top: 20px;
}

.middle .middle_types {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.middle .middle_types .type_item {
    width: 84px;
    height: 32px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 32px;
    color: #61666d;
    cursor: pointer;
    border-radius: 8px;

}

.middle .middle_types .type_item.typeactive {
    background-color: rgb(46, 161, 255);
    color: #fff;
}

 .middle .middle_types .type_item:hover {
    background-color: #E0E2E4;
    color: #18191c;
}


.main_top .right .right_tag {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 258px;
    margin-top: 4px;
}

.main_top .right .right_tag .tag_item {
    width: 84px;
    height: 32px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #61666d;
    display: flex;
    align-items: center;
    line-height: 32px;
    cursor: pointer;
    justify-content: center;
    border-radius: 8px;


}

.main_top .right .right_tag .tag_item  i {
    margin-right: 10px;
}

.main_top .right .right_tag .tag_item:hover {
    color: rgb(46, 161, 255);
}


.main_middle {
    width: 100%;
    margin: 30px 0;
    display: flex;
}

.main_middle .middle_left {
    width: 637px;
    height: 442px;
    margin-right: 20px;

}

.main_middle .middle_left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main_middle .video_random {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 969px;
    gap: 20px;
}

.main_middle .video_random .random_item {
    width: 308px;
    height: 248px;
}


.main_middle .video_random .random_item .img {
    width: 100%;
    height: 173px;
    position: relative;
}

.main_middle .video_random .random_item .img .toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 10px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 500;
}

.main_middle .video_random .random_item .img .toolbar .toolItem i {
    margin-right: 2px;
}


.main_middle .video_random .random_item .img .toolbar .left .toolItem:nth-child(1) {
    margin-right: 10px;
}

.main_middle .video_random .random_item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main_middle .video_random .random_item .title {
    display: block;
    margin: 6px 0;
    color: #18191c;
    font-size: 15px;
}

.main_middle .video_random .random_item .video_info {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #9499A0;
}
.main_middle .video_random .random_item .video_info p:nth-child(1) {
    margin-right: 10px;

}

.main_middle .middle_reGetData_button {
    width: 38px;
    height: 80px;
    font-size: 12px;
    color: #18191c;
    border: 1px solid #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.main_middle .middle_reGetData_button i:nth-child(1) {
    color: #61666d;
    font-size: 17px;
    margin-bottom: 5px;
}


.main_middle .middle_reGetData_button:hover {
    background-color: #E0E2E4;
}


.main_video_all_list {
    margin: 30px 0;
    width: 100%;
}

.main_video_all_list .all_video {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}


.main_video_all_list .all_video .video_item {
    width: 308px;
    height: 248px;
}

.main_video_all_list .all_video .video_item .img {
    width: 100%;
    height: 173px;
    position: relative;
}


.main_video_all_list .all_video .video_item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.main_video_all_list .all_video .video_item .img .toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 10px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 500;
}

.main_video_all_list .all_video .video_item .img .toolbar .left .toolItem:nth-child(1) {
    margin-right: 10px;
}



.main_video_all_list .all_video .video_item .title {
    display: block;
    margin: 6px 0;
    color: #18191c;
    font-size: 15px;
}

.main_video_all_list .all_video .video_item .video_info {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #9499A0;
}
.main_video_all_list .all_video .video_item.video_info p:nth-child(1) {
    margin-right: 10px;

}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
    object-fit: cover;
}

.slider .slides {
    display: flex;
    transition: transform 0.5s ease;
    object-fit: cover;
    cursor: pointer;
}

.slider .slide {
    flex-shrink: 0;
    width: 100%;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.slider .controls {
    position: absolute;
    bottom: 10px;
    right: 0;
    transform: translateX(-50%);
    display: flex;

}

.slider .controls button {
    padding: 10px 20px;
    background-color: rgba(180, 180, 180, 0.2);
    color: white;
    border: none;
    cursor: pointer;
}

.slider .controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider .active {
    background-color: rgba(0, 0, 0, 0.8);
}



